<% if advertiser_signed_in? %>
    <li><%= link_to 'Nova Promoção', new_promotion_path %></li>
    <li><%= link_to "Minhas Promoções", my_promotions_path %></li>
    <li><%= link_to "Reservas em Aberto", my_reservations_path %></li>
<% end %>