<% if advertiser_signed_in? %>
    <li><%= link_to "New Promotion", new_promotion_path %></li>
    <li><%= link_to "My Promotions", my_promotions_path %></li>
    <li><%= link_to "Open Reservations", my_reservations_path %></li>
<% end %>