<h3>Reviews</h3>
<div class="reviews">
  <% @reviews.each do |review| %>
      <div class="review">
        <div class="header">
          <span class="author"><%= review.reservation.customer.name %>'s review </span>
          <span class="rating">Rating <%= review.rating %> </span>
        </div>
        <div class="body">
          <%= review.text %>
        </div>
      </div>
  <% end %>

</div>
