<div id="reviews">
  <% @reviews.each do |review| %>
      <div class="review clearfix">
        <div class="header">
          <span class="author"><%= review.reservation.customer.name %>'s review </span>
          <span class="rating">Rating => <%= review.rating %> </span>
        </div>
        <div class="body">
          <%= review.text %>
        </div>
      </div>
  <% end %>
</div>